.color-style{
    border:1px black solid;
    height:100px;
    width:130px;

}

.main-layout-style{
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 10px 1px black ;
    padding:20px;
    border: #003399 5px dotted;
}

.color-name-style{
    width: 130px;
    height: 50px;
    border: black 1px solid;
    border-top: 0px;
    background-color: white;
    display:flex;
    align-items:center;
    justify-content: center;

}
.color-text{
    font-size:20px;
}
